@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

/* Värikoodien poimintoja ¯\_(ツ)_/¯

Teksti: #1f1d1dd5
Valikon tausta: #f5f5f5;

Pohjautuu useampaan violettiin:
Sivun tausta: #6e66b694
Koriste-elementit: #6a35c083
Logon tausta: #c1aeee

*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Open Sans', cursive;
    background: rgba(110, 102, 182, 0.582);
    background: linear-gradient(0deg, rgba(110, 102, 182, 0.582) 0%, rgba(188, 184, 196, 0.384) 100%);
    text-shadow: 1px 1px 1px #e2e2e29f;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 5%;
    position: relative;
  }

  body {
    color: #1f1d1dd5;
    background-color: #ffffff46;
    min-width: 50rem;
    max-width: 50rem;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding: 0;
    padding-bottom: 5%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: relative;
    text-shadow: 1px 1px 1px #f5f5f575;
    overflow-y: auto;
    font-size: 16px;
    /* firefox scrollbar-asetukset */
    scrollbar-gutter: stable both-edges;
    scrollbar-width: 4px;
    scrollbar-color: #5739992c rgba(56, 36, 100, 0.171);
    }
    /* chrome scrollbar-asetukset */
    ::-webkit-scrollbar-track
    {
      background-color: transparent;
    }
    ::-webkit-scrollbar
    {
      width: 10px;
      background-color: #5739992c
    }
    ::-webkit-scrollbar-thumb
    {
      background: #5739992c;
      border-radius: 5px;
      border: 6px;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #6e66b694;
    }

    ::-webkit-scrollbar-button:vertical:start:decrement {
      background:
          linear-gradient(120deg, #5f56750c 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(240deg, #5f56750c 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(0deg, #5f56750c 30%, rgba(55, 31, 112, 0.247) 31%);
      background-color: #5f4d927e;
  }
  
  ::-webkit-scrollbar-button:vertical:end:increment {
      background:
          linear-gradient(300deg, #53496e52 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(60deg, #53496e52 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(180deg, #53496e52 30%, rgba(55, 31, 112, 0.247) 31%);
      background-color: #5f4d927e;
  }
  
  ::-webkit-scrollbar-button:horizontal:end:increment {
      background:
          linear-gradient(210deg, #53496e52 40%, rgba(55, 31, 112, 0.247)41%),
          linear-gradient(330deg, #53496e52 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(90deg, #53496e52 30%, rgba(55, 31, 112, 0.247) 31%);
      background-color: #5f4d927e;
  }
  
  ::-webkit-scrollbar-button:horizontal:start:decrement {
      background:
          linear-gradient(30deg, #53496e52 40%, rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(150deg, #53496e52 40%,rgba(55, 31, 112, 0.247) 41%),
          linear-gradient(270deg, #53496e52 30%,rgba(55, 31, 112, 0.247) 31%);
      background-color: #5f4d927e;
  }
  /* Scrollbar-asetukset päättyy ----------------- */
  a {
    color: inherit;
  }
  
  a:link {
    text-decoration: none;
  }

  a:active { 
    text-decoration: none;
  }

  /* Yläosan jaostot - sisältää myös logotekstin */
  .header-logo-container {
    display: flex;
    flex-direction: column;
    float: right;
    background: rgb(193,174,238);
    background: radial-gradient(circle, rgba(193,174,238,1) 0%, rgba(113,102,171,1) 90%);
    font-size: 0.8rem;
    max-width: 200px;
    max-width: 600px;
    width: 100%;
    max-height: 135px;
    min-height: 135px;
    height: 135px;
    padding: 1rem 1rem;
    border-top-right-radius: 5rem;
  }

  .header-logo {
    position: relative;
    top: 6.05rem;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 105px;
    font-family: 'Lovers Quarrel', cursive;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #9d61fd7c;
    text-shadow: 
              2px 3px #110222,
              3px 4px rgba(255, 255, 255, 0.74);
  }

  .header-logo-left-corner {
    background: rgb(193,174,238);
    background: radial-gradient(ellipse at bottom, rgba(193,174,238,1) 0%, rgba(113,102,171,1) 70%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    max-height: 135px;
    min-height: 135px;
    height: 100%;
    width: 100%;
    min-width: 200px;
    padding: 1rem 1rem;
    border-top-left-radius: 5rem;
  }

  /* Valikon eri jaostot ja apujaostot - Nimen pitäisi antaa suuntaa mihin sijoittuu
    sivulla ja täällä ne pitäisivät olla melkein siinä järjestyksessä kuin ne ovat sivulla.
  */
  .nav-container {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
    height: 100%;
    max-height: 10rem;
  }

  nav {
    color: #6a49a0;
    background-color: rgb(245, 245, 245);
    padding: 1rem 1rem 1rem 1rem;
    padding-left: 1.5rem;
    min-width: 200px;
    width: 100%;
    min-height: 6rem;
    height: 100%;
    max-height: 10rem;
    border-bottom-right-radius: 0.4rem;
    font-family: 'Red Hat Display';
    font-size: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
    text-shadow: 1px 0px 0px grey, -1px 0px 0px grey, 0px 1px 0px lightgray, 0px -1px 0px lightgray;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  /* List on käytössä vain valikossa tällä hetkellä */
  ul {
    padding-top: 10px;
    padding-bottom: 5px;
    list-style-position:inside;
    display: inline-table;
  }

  li {
    list-style: none;
    position: relative;
    color: #a590c7;
    
    animation: liAnim 2s ease-in 0.5s 1 normal forwards;

    @keyframes liAnim {
      0%,
      50%,
      100% {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }
  }

  li:before {
    content: ".";
    padding-right: 5px;
  }
  
  li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    background-color: #a590c7;
    transform-origin: bottom right;
    transition: transform 0.55s ease-out;
  }
  
  li:hover {
    color: #6a49a0;
  }

  li:hover::after {
    color: #a590c7;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  li:active {
    color: #a590c7;
  }

  li:visited {
    color: #a590c7;
  }

  .nav-mid-line {
    float: left;
    background: rgb(113,102,171);
    background: radial-gradient(circle, rgba(113,102,171,1) 25%, rgba(193,174,238,1) 65%);
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin-top: 0.8rem;
    width: 100%;
    max-width: 194px;
    height: 100%;
    min-height: 0.2rem;
    max-height: 0.2rem;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
  }

  /* Footer on valikon jatkeena */
  footer {
    background-color: rgb(245, 245, 245);
    padding: 1.5rem 1rem 1rem 1rem;
    min-width: 200px;
    max-width: 200px;
    width: 100%;
    padding-left: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }

  .nav-horizontal-line {
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: -5px;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    width: 180px;
    background: rgb(117,105,174);
    background: linear-gradient(90deg, rgba(117,105,174,1) 12%, rgba(193,174,238,1) 34%, rgba(193,174,238,1) 47%, rgba(193,174,238,1) 62%, rgba(113,102,171,1) 86%);
    border-radius: 2px;
    
  }

  .nav-vertical-line {
    height: 42px;
    border-right: 2px solid #6a35c083;
    border-left: 1px solid #6a35c083;
    border-radius: 1px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .nav-icons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 171px;
    min-width: 171px;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  img {
    border: 2px solid #f8f8f89f;
    padding: 5px;
    background-color: #f5f5f5;
  }

  img.insta {
    width: 42px;
    height: 40px;
    opacity: 0.5;
  }

  img.insta:hover {
    opacity: 1;
  }

  img.twitter {
    width: 42px;
    height: 40px;
    opacity: 0.5;
  }

  img.twitter:hover {
    opacity: 1;
  }

  .copyright {
    font-size: 14px;
    border-radius: 50%;
    border-top: 5px dotted #6a35c083;
    border-bottom: 5px dotted #6a35c083;
    padding-top: 1rem;
    padding-bottom: 8px;
    margin-top: 5rem;
    margin-bottom: 0.1rem;
    text-align: center;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Otsikot löytyvät tästä välistä.. */
  h4 {
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 26px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 1rem;
  }
  
  /* Pääasiallinen sivustojen sisältöalue */
  main {
    overflow: hidden; overflow-y:hidden; overflow-y:auto;
    position: absolute;
    float: left;
    background-color: #a9a9a900;
    padding: 1rem 1rem 1rem 3rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 580px;
    height: 71vh;
    min-height: 71vh;
    max-height: 71vh;
    border-bottom-right-radius: 5rem;

    animation: mainAnim 2s ease-in 0.5s 1 normal forwards;

    @keyframes mainAnim {
      0%,
      50%,
      100% {
        opacity: 1;
      }
    
      25%,
      75% {
        opacity: 0;
      }
    }
  }

  /* Yleinen jaosto teksteille */
  p {
    color: #4b4744c7;
    text-decoration: none;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-size: 15px;
    margin-left: 1px;
  }

  /* Vaakasuora viiva sivuston väreihin soviteltuna, joka on jakamassa osa-alueita main-jaostossa */
  hr {
    border: none;
    border-radius: 3rem;
    width: 100%;
    max-width: 600px;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    height: 2px;
    background: rgb(193,174,238);
    background: linear-gradient(90deg, rgba(193, 174, 238, 0.596) 21%, rgba(113, 102, 171, 0.452) 47%, rgba(193,174,238,1) 74%, rgba(193, 174, 238, 0.596) 90%);
    box-shadow: 1px 1px 1px 1px #b8b8b825;
  }

  .palvelut-kuva1 {
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
  }

  .palvelut-kuva2 {
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    margin-right: 5rem;
  }

  .meista-kuva1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 455px;
  }

  .etusivu-kuva {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
  }

  /* Elementit tekstien ryhmittämiseen vierekkäin - Käytössä mm. hinnasto-sivulla */
  .arrange-container {
    min-width: 350px;
    max-width: 350px;
    height: 140px;
    max-height: 140px;
    max-height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .arrange-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    min-width: 230px;
    max-width: 230px;
    height: 125px;
    color: #4b4744c7;
    text-decoration: none;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-size: 15px;
  }

  .arrange-left-mp {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    color: #4b4744c7;
    text-decoration: none;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-size: 15px;
  }

  .arrange-right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
    width: 100%;
    min-width: 50px;
    max-width: 50px;
    color: #4b4744c7;
    text-decoration: none;
    text-shadow: 2px 1px 1px #c2c2c29f;
    font-weight: 500;
    font-size: 15px;
  }
  /* Apufillereitä sisällön ryhmittämiseen */
  .space-div {
    margin-bottom: 2rem;
  }

  .space-rm-div {
    margin-bottom: -2rem;
  }

  /* Etusivun formin tyylimääritteet */
  .form-input-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
  }

  .form-textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
  }

  input[type=text] {
    border: 1px solid #c2c2c29f;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    min-width: 300px;
    height: 25px;
    padding: 0.3rem;
    color: #1f1d1dd5;
    font-family: 'Open Sans', cursive;
    font-weight: 400;
  }

  input[type=text]:focus {
    border: 1px solid #6a35c083;
    outline: none !important;
    box-shadow: 0 0 5px #9971ce;
  }

  input[type=submit] {
    color: #f5f5f5;
    border: 1px solid #c2c2c29f;
    border-radius: 0.5rem;
    background-color: #9971ce;
    min-width: 150px;
    max-width: 150px;
    height: 28px;
    font-family: 'Red Hat Display';
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #2b2b2b9d;
    letter-spacing: 0.5px;
    opacity: 0.5;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #6a35c0ad;
    opacity: 1;
  }  

  textarea {
    border: 1px solid #c2c2c29f;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    min-width: 350px;
    height: 150px;
    padding: 0.3rem;
    color: #1f1d1dd5;
    font-family: 'Open Sans', cursive;
    font-weight: 400;
  }

  textarea:focus {
    border: 1px solid #6a35c083;
    outline: none !important;
    box-shadow: 0 0 5px #9971ce;
  }